*{
  margin:0;
  padding: 0;
}

html, body{
  font-size: 18px;
  background-color: #f5f7f7;
}
h1{
  max-width: 940px;
  font-size: 2.5em; /*factor relativo al tamaño de la letra de su contenedor*/
  font-family: lato, sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin: 40px 0;
}

.App{
  min-height: 100vh; /*Altura minima, se adapta a la altura del navegador, va a ser el 100% minimo de la pantalla verticalmente*/
  display: flex;
  flex-wrap: wrap;/* Si el elemento ocupa el todo el ancho de su contenedor, el siguiente ocupara la siguiente linea */
  align-items: center;
  justify-content: center;
  text-align: center;

}

.contenedor-principal{
  min-height: 600px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}